[Unit]
Description=Node Exporter
After=network.target

[Service]
User=nodeuser
Group=nodeuser
Type=simple
ExecStart=/tmp/node_exporter

[Install]
WantedBy=multi-user.target
